<h1 class="mb-4">Reset Password</h1>

<%= form_with url: resetpasswords_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.submit 'Reset Password', class: "btn btn-primary" %>
  </div>
<%end%>